@model SingleProportionViewModel
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/codemirror-5.61.1/lib/codemirror.js"></script>
<link rel="stylesheet" type="text/css" href="~/lib/codemirror-5.61.1/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="~/lib/codemirror-5.61.1/theme/pastel-on-dark.css">
<script type="text/javascript" src="~/lib/codemirror-5.61.1/mode/r/r.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var code = $("#rcode-textarea")[0];
        var editor = CodeMirror.fromTextArea(code, {
            lineNumbers: true,
            mode: "r",
            theme: "pastel-on-dark"
        });
        editor.setSize("100%", "100%");
        var cm = $('.CodeMirror')[0].CodeMirror;
        $(cm.getWrapperElement()).hide();
        $('a').click(function () {
            var id = $(this).attr("id");
            var data = document.getElementById("data");
            var test_result = document.getElementById("test_result");
            var cm = $('.CodeMirror')[0].CodeMirror;
            if (id.localeCompare("1") == 0) {
                data.style.display = "block";
                test_result.style.display = "none";
                $(cm.getWrapperElement()).hide();
            } else if (id.localeCompare("2") == 0) {
                data.style.display = "none";
                test_result.style.display = "block";
                $(cm.getWrapperElement()).hide();
            } else if (id.localeCompare("3") == 0) {
                data.style.display = "none";
                test_result.style.display = "none";
                $(cm.getWrapperElement()).show();
            }
        });
    });
</script>
<script>
    function show_value(x) {
        document.getElementById("slider_value").innerHTML = x;
    }
</script>

<div style="width: 100%">
    <div style="float: left;width: 20%">
        <div class="vertical-menu">
            <form asp-controller="CategoricalDataSingleProportion" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" style="display: block">Skup podataka</label>
                    <input type="file" name="file" />
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Učitaj</button>
            </form>
            <br />
            <form asp-controller="CategoricalDataSingleProportion" asp-action="ChangeVariable">
                <div class="form-group">
                    <label class="control-label">Varijabla</label>
                    <select asp-for="Variable" asp-items="@Model.Variables" class="form-control"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-dark">Odaberi</button>
                </div>
            </form>
            <form asp-controller="CategoricalDataSingleProportion" asp-action="ChangeLevel">
                <div class="form-group">
                    <label class="control-label">Kategorija</label>
                    <select asp-for="Level" asp-items="@Model.Levels" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Nulta hipoteza</label>
                    <input asp-for="NullHypothesis" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Alternativna hipoteza</label>
                    <select asp-for="AlternativeHypothesis" asp-items="@Model.AlternativeHypotheses" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" style="display: block">Interval povjerenja</label>
                    <span id="slider_value" style="display: block; text-align: center">0.5</span>
                    <div style="display: block; text-align: center">
                        0<input asp-for="ConfidenceInterval" type="range" style="width: 90%" class="form-range" min="0.0" max="1.0" value="0.5" step="0.05" onchange="show_value(value);">1
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-dark">Odaberi</button>
                </div>
            </form>
        </div>
    </div>
    <div class="data_plot_summary_rcode">
        <a id="2" class="btn btn-light">Rezultati testa</a>
        <a id="1" class="btn btn-light">Skup podataka</a>
        <a id="3" class="btn btn-light">R kôd</a>
        <div id="data" class="data" style="display: none">
            <table class="table table-hover" id="dataset-table" style="float: left">
                <tbody style="background-color:white">
                    @{
                        if (!(ViewBag.Dataset is null))
                        {
                            foreach (string line in ViewBag.Dataset)
                            {
                                <tr>
                                    @{
                                        foreach (string cell in line.Split(";"))
                                        {
                                            <td>
                                                <center>@cell</center>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="test_result" style="display: block; text-align: center">
            @{
                if (ViewBag.TestResult is null)
                {
                    <table class="table">
                        <thead>
                            <tr class="thead-light">
                                <th>Broj uspjeha</th>
                                <th>Broj eksperimenata</th>
                                <th>P-vrijednost</th>
                                <th>Interval povjerenja</th>
                                <th>Procjena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@ViewBag.NumOfSucc</td>
                                <td>@ViewBag.NumOfTrials</td>
                                <td>@ViewBag.PValue</td>
                                <td>@ViewBag.ConfInt</td>
                                <td>@ViewBag.Estimate</td>
                            </tr>
                        </tbody>
                    </table>
                }
                else
                {
                    @ViewBag.TestResult
                }
            }
            <div>
                @{
                    if (!(ViewBag.Images is null))
                    {
                        foreach (var image in (IEnumerable<string>)ViewBag.Images)
                        {
                            <img src="@Url.Content(image)" style="width: 500px" />
                        }
                    }
                }
            </div>
        </div>
        <br />
        <textarea id="rcode-textarea" style="display: none">
            @{           
                foreach (string line in ViewBag.RCode)
                {
                    @line
                    @System.Environment.NewLine                              
                }
            }
        </textarea>
    </div>
</div>
