@model DatasetViewModel
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/codemirror-5.61.1/lib/codemirror.js"></script>
<link rel="stylesheet" type="text/css" href="~/lib/codemirror-5.61.1/lib/codemirror.css">
<link rel="stylesheet" type="text/css" href="~/lib/codemirror-5.61.1/theme/pastel-on-dark.css">
<script type="text/javascript" src="~/lib/codemirror-5.61.1/mode/r/r.js"></script>
<script src="~/lib/plotly-latest.min.js"></script>
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        var code = $("#rcode-textarea")[0];
        var editor = CodeMirror.fromTextArea(code, {
            lineNumbers: true,
            mode: "r",
            theme: "pastel-on-dark"
        });
        editor.setSize("100%", "100%");
        var cm = $('.CodeMirror')[0].CodeMirror; 
        var plots_rscript = document.getElementById("plots-rscript");
        @if (ViewBag.RunRCode)
        {
            <text>$(cm.getWrapperElement()).show();
                  plots_rscript.style.display = "block";
            </text>
        }
        else
        {
            <text>$(cm.getWrapperElement()).hide();</text>
        }
        $('a').click(function () {
            var id = $(this).attr("id");
            var basic_plot = document.getElementById("basic_plot");
            var data = document.getElementById("data");
            var plot_summary = document.getElementById("plot_summary");
            var save_rscript_btn = document.getElementById("save-rscript");
            var run_rscript_btn = document.getElementById("run-rscript");
            var plots_rscript = document.getElementById("plots-rscript");
            var cm = $('.CodeMirror')[0].CodeMirror;
            if (id.localeCompare("0") == 0) {
                basic_plot.style.display = "block";
                data.style.display = "none";
                plot_summary.style.display = "none";
                save_rscript_btn.style.display = "none";
                run_rscript_btn.style.display = "none";
                plots_rscript.style.display = "none";
                $(cm.getWrapperElement()).hide();
            } else if (id.localeCompare("1") == 0) {
                basic_plot.style.display = "none";
                data.style.display = "block";
                plot_summary.style.display = "none";
                save_rscript_btn.style.display = "none";
                run_rscript_btn.style.display = "none";
                plots_rscript.style.display = "none";
                $(cm.getWrapperElement()).hide();
            } else if (id.localeCompare("2") == 0) {
                basic_plot.style.display = "none";
                data.style.display = "none";
                plot_summary.style.display = "block";
                save_rscript_btn.style.display = "none";
                run_rscript_btn.style.display = "none";
                plots_rscript.style.display = "none";
                $(cm.getWrapperElement()).hide();
            } else if (id.localeCompare("3") == 0) {
                basic_plot.style.display = "none";
                data.style.display = "none";
                plot_summary.style.display = "none";
                save_rscript_btn.style.display = "block";
                run_rscript_btn.style.display = "block";
                plots_rscript.style.display = "block";
                $(cm.getWrapperElement()).show();
            }
        });
        $("#save-rscript").click(function () {
            var code = editor.getValue();
            var codeAsBlob = new Blob([code], {
                type: "text"
            });
            var fileName = "script.r";

            var downloadLink = document.createElement("a");
            downloadLink.download = fileName;
            downloadLink.innerHTML = "Download File";
            downloadLink.href = window.webkitURL.createObjectURL(codeAsBlob);
            downloadLink.click();
        });
    });
</script>

<div style="width: 100%">
    <div style="float: left;width: 20%">
        <div class="vertical-menu">
            <form asp-controller="Home" asp-action="ChangeDataset">
                <div class="form-group">
                    <label class="control-label">Skup podataka</label>
                    <select asp-for="Dataset" asp-items="@Model.Datasets" class="form-control"></select>
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Odaberi</button>
            </form>
            <br />
            <form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="control-label" style="display: block">Vlastiti podatci</label>
                    <input type="file" name="file" />
                </div>
                <button type="submit" class="btn btn-primary btn-dark">Učitaj</button>
            </form>
        </div>
        <div class="vertical-menu">
            <form asp-controller="Home" asp-action="ChangeVariableAndPlot">
                <div class="form-group">
                    <label class="control-label">Varijabla</label>
                    <select asp-for="Variable" asp-items="@Model.Variables" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">Grafički prikaz</label>
                    <select asp-for="Plot" asp-items="@Model.Plots" class="form-control"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-dark">Odaberi</button>
                </div>
            </form>
        </div>
    </div>
    <div class="data_plot_summary_rcode">
        <a id="0" class="btn btn-light">Osnovne vizualizacije</a>
        <a id="1" class="btn btn-light">Skup podataka</a>
        <a id="2" class="btn btn-light">Graf i deskriptivna statistika</a>
        <a id="3" class="btn btn-light">R kôd</a>
        <div id="basic_plot" class="@(ViewBag.RunRCode ? "hidden" : "visible")">
            <br />
            @{
                if (!(ViewBag.BasicPlots is null))
                {
                    foreach (var image in (IEnumerable<string>)ViewBag.BasicPlots)
                    {
                        <img src="@Url.Content(image)" />
                    }
                }
            }
        </div>
        <div id="data" class="data" style="display: none">
            <table class="table table-hover" id="dataset-table">
                <tbody style="background-color:white">
                    @{
                        foreach (string line in ViewBag.Dataset)
                        {
                            <tr>
                                @{
                                    foreach (string cell in line.Split(","))
                                    {
                                        <td>
                                            <center>@cell</center>
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div id="plot_summary" class="plot_summary" style="display: none">
            <div id="plot" style="float: left">
                <br />
                <img src="~/plot.png" />
            </div>
            <div id="summary" style="float: left">
                <br />
                <p>    <b>Minimum</b> = @ViewBag.Min</p>
                <p>    <b>1. kvartil</b> = @ViewBag.FirstQ</p>
                <p>    <b>Aritmetička sredina</b> = @ViewBag.Mean</p>
                <p>    <b>Medijan</b> = @ViewBag.Median</p>
                <p>    <b>3. kvartil</b> = @ViewBag.ThirdQ</p>
                <p>    <b>Maksimum</b> = @ViewBag.Max</p>
            </div>
        </div>
        <br />
        <div id="plots-rscript" style="display: none">
            @{
                if (!(ViewBag.Images is null))
                {
                    foreach (var image in (IEnumerable<string>)ViewBag.Images)
                    {
                        <img src="@Url.Content(image)" />
                    }
                }
            }
        </div>
        <button id="save-rscript" class="btn btn-primary btn-success @(ViewBag.RunRCode ? "visible" : "hidden")" style="float: right;">Spremi skriptu</button>
        <form asp-controller="Home" asp-action="RunRCode">
            <button id="run-rscript" type="submit" class="btn btn-primary btn-success @(ViewBag.RunRCode ? "visible" : "hidden")" style="float: right;">Pokreni</button>
            <textarea id="rcode-textarea" name="rcode">            
            @{           
            foreach (string line in ViewBag.RCode)
            {
                @line
                @System.Environment.NewLine                              
            }
            }
        </textarea>
        </form>
    </div>
</div>
